.newChat {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 20px;

  border-radius: 3px;
}

.newChat button {
  height: 3rem;
  width: 6rem;
  font-size: large;
  background-color: #77d9c7;
  border: none;
}

.newChat input {
  height: 3rem;
  font-size: 18px;

}

.newChat form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}
